@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  height: 100%;
}

body {
  background-color: rgb(10, 10, 10);
}

.products-grid {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
}
